<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
 <mat-toolbar-row>
   <div class="span" routerLink="/"> Conference connections</div>
   <span class="fill-empty-space"></span>
   <button mat-stroked-button [mat-menu-trigger-for]="appMenu" *ngIf="auth.isLoggedIn()">Hello, {{auth.getUserDetails().name}}</button>
   <mat-menu #appMenu="matMenu">
     <button mat-menu-item (click)="auth.logout()">Logout</button>
     <button mat-menu-item routerLink="/profile">View Profile</button>
   </mat-menu>
 </mat-toolbar-row>
</mat-toolbar>
<span class="align-middle fill-screen">
  <router-outlet></router-outlet>
</span>

